.placeholder_img{
    background: #DEDEDE;
    border-radius: 4px;
    width: 95%;
    height: 136px;
}
.placeholder_row{
    background: #DEDEDE;
    border-radius: 4px;
    height: 14px;
    width: 95%;
}