.slider{
    background: #FFFFFF;
    border-radius: 8px;
    width: 302px;
    height: 483px;
    display: flex;
    flex-direction: column;
}
.slider_img{
    background: #DEDEDE;
    border-radius: 4px;
    width: 293px;
    height: 204px;
}
.slider_header, .slider_content{
    border-bottom: 1px solid #CACACA;
}
.slider_footer{
    display: flex;
    justify-content: center;
}
.slider_progress{
    padding: 8px;
}
.btn-next, .btn-prev {
    position: absolute;
    width: 36.67px;
    height: 36.67px;
    border-radius: 50%;
    border: 2px solid #000000;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
}
.btn-next{
    transform: rotate(-180deg);
    left: 100%;
    // left: 383px;
}
.btn-next:hover, .btn-prev:hover {
    color: #31AE54;
    cursor: pointer;
}
.btn-prev {
    right:100%;
}
.c-button{
    position: absolute;
}

.icon {
    width: 20px;
}
.slider_content {
    overflow-y: scroll;
    height: 285px;
}
.slider-item{
    &.active{
        .slider{
        width: 375px;
        height: 600px;
        position: relative;
        }
        .slider_content {
            overflow-y: scroll;
            height: 405px;
        }
    }
}
