.stories{
    display: flex;
    justify-content: space-between;
}
.icon{
    color:red;
    width:50px;
}
.posts-container{
    width: 979px;
    margin: 0 auto;
}
.posts__item{
    margin-bottom: 20px;
}